<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_ackermann_drive" filename="libgazebo_ros_ackermann_drive.so">
            <ros>
                <namespace>demo</namespace>
                <argument>cmd_vel:=cmd_demo</argument>
                <argument>odom:=odom_demo</argument>
                <argument>distance:=distance_demo</argument>
            </ros>

            <update_rate>100.0</update_rate>

            <!-- wheels -->
            <front_left_joint>front_left_wheel_joint</front_left_joint>
            <front_right_joint>front_right_wheel_joint</front_right_joint>
            <rear_left_joint>rear_left_wheel_joint</rear_left_joint>
            <rear_right_joint>rear_right_wheel_joint</rear_right_joint>
            <left_steering_joint>virtual_front_wheel</left_steering_joint>
            <right_steering_joint>virtual_front_wheel</right_steering_joint>
            <steering_wheel_joint>steering_joint</steering_wheel_joint>

            <!-- Max absolute steer angle for tyre in radians-->
            <max_steer>0.6458</max_steer>
            <!-- Max absolute steering angle of steering wheel -->
            <max_steering_angle>7.85</max_steering_angle>
            <!-- Max absolute linear speed in m/s -->
            <max_speed>20</max_speed>

            <odometry_frame>odom_demo</odometry_frame>
            <robot_base_frame>chassis</robot_base_frame>
        </plugin>
    </gazebo>

</robot>
