<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="rear_left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3.14</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        
        <joint name="rear_right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3.14</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="front_left_wheel_joint">
            <command_interface name="velocity">
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        
        <joint name="front_right_wheel_joint">
            <command_interface name="velocity">
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="front_left_steering_joint">
            <command_interface name="position">
                <param name="min">-0.4</param>
                <param name="max">0.4</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="front_right_steering_joint">
            <command_interface name="position">
                <param name="min">-0.4</param>
                <param name="max">0.4</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name='gazebo_ros2_control' filename='libgazebo_ros2_control.so'>
        <parameters>$(find mrover)/description/fowardSteer/config/my_controller.yaml</parameters>
        </plugin>
    </gazebo>

    


</robot>
