<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="false"/>


    <xacro:include filename="robot_main.xacro" />
    <xacro:include filename="sensors/lidar.xacro" />
    <xacro:include filename="sensors/camera.xacro" />
    <!-- <xacro:include filename="gazebo/gazebo_control_ackermann.xacro" /> -->
    <!-- <xacro:include filename="gazebo/ros2_controls_real.xacro" /> -->
    <xacro:include filename="gazebo/ros2_control_new.xacro" />


</robot>