<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="sensors/lidar.xacro" />
    <xacro:include filename="sensors/camera.xacro" />

    <!-- <xacro:include filename="gazwbo_control_steer.xacro" />
    <xacro:include filename="lidar.xacro" /> -->
    <!-- <xacro:include filename="gazebo_control.xacro" />  -->
    
    <!-- <xacro:include filename="robot_core_ackermann.xacro" /> -->
    <!-- <xacro:include filename="mrover_ackermann.xacro" />
    <xacro:include filename="gazebo_control_ackermann.xacro" /> -->
    <!-- <xacro:include filename="robotuz.xacro" /> -->
    


</robot>